.sidebar{
    top: 5px;
    left: 5px;
    position: fixed;
    border-radius: 10px;
    width: 280px;
    height: 100%;
    background: black;
    box-sizing: border-box;
    padding: 30px 15px;
    transition: all 0.3s ease-in;
}

.sidebar.inactive{
    width: 70px;
}

.sidebar .logo-section{
    position: relative;
}

.sidebar .logo-section .logo{
    width: 40px;
    height: 40px;
    overflow: hidden;
    display: inline-block;
}

.sidebar .logo-section .logo-name{
    padding-left: 15px;
    width: 150px;
    height: 50px;
    overflow: hidden;
    color: white;
    display: inline-block;
    font-weight: 600;
    opacity: 1;
    transition: all 0.5s ease-in;
}

.sidebar.inactive .logo-section .logo-name{
    width: 0px;
    height: 0px;
    opacity: 0;
    position: fixed;
}


.sidebar .logo-section .logo img{
    max-width: 100%;
    max-height: 100%;
    border-radius: 25%;
    /* background: red; */
}

.sidebar .logo-section .toggle-btn {
    top: 50%;
    right: 0;
    transform: translateY(-100%);
    color: grey;
    font-size: 20px;  
    position: absolute; 
    cursor: pointer; 
}

.sidebar.inactive .logo-section .toggle-btn{
    right: -50px;
}

.sidebar .divider{
    width: 100%;
    height: 1px;
    border-radius: 1px;
    background: grey;
    margin-top: 15px;
}

.sidebar .sidebar-links{
    margin: 10px 0;
}

.sidebar .sidebar-links li:hover{
    background: rgb(180, 180, 180);
    border-radius: 10px;
}

.sidebar .sidebar-links .links{
    color: grey;
    text-decoration: none;
    font-size: 15px;
    display: block;
    font-weight: 600;
    padding-top: 7px;
    padding-bottom: 7px;
    cursor: pointer;
}

.sidebar .sidebar-links .links span{
    position: absolute;
    display: inline-block;
    line-height: 40px;
    opacity: 1;
    transition: opacity 0.3s ease-in-out;
}

.sidebar.inactive .sidebar-links .links span{
    opacity: 0;
    width: 0;
    height: 0;
}

.sidebar .sidebar-links .links .links-icon{
    display: inline-block;
    width: 40px;
    height: 40px;
    color: grey;
    /* background: red; */
    font-size: 20px;
    line-height: 40px;
    text-align: center;
}

/* .navbar{
    left: 300px;
    width: 100%;
    height: 60px;
    background: black;
}

.navbar .navbar-name{
    padding-left: 125px;
    padding-top: 20px;
    font-size: 22px;
    font-weight: 600;
    color: white;
} */

.navbar{
    /* position: fixed; */
    margin-left: 290px;
    margin-top: 12.5px;
    border-radius: 10px;
    width: calc(100% - 310px);
    height: 60px;
    background: black;
    transition: all 0.3s ease-in;
}

.sidebar.inactive ~ .navbar{
    margin-left: 80px;
    margin-top: 12.5px;
    border-radius: 10px;
    width: calc(100% - 100px);
    height: 60px;
    background: black;
}